:root{
  --main-color: #C96B41;
  --secondary-color: #EEDFD4;
  --text-color: #000000;
  --background-color: #FFFFFF;
}

$main-color: (
  50: var(--main-color),
  100: var(--main-color),
  200: var(--main-color),
  300: var(--main-color),
  400: var(--main-color),
  500: var(--main-color),
  600: var(--main-color),
  700: var(--main-color),
  800: var(--main-color),
  900: var(--main-color),
  contrast: (
    50: var(----main-color),
    100: var(----main-color),
    200: var(----main-color),
    300: var(----main-color),
    400: var(----main-color),
    500: var(----main-color),
    600: var(----main-color),
    700: var(----main-color),
    800: var(----main-color),
    900: var(----main-color),
  )
);
$secondary-color: (
  50: var(--secondary-color),
  100: var(--secondary-color),
  200: var(--secondary-color),
  300: var(--secondary-color),
  400: var(--secondary-color),
  500: var(--secondary-color),
  600: var(--secondary-color),
  700: var(--secondary-color),
  800: var(--secondary-color),
  900: var(--secondary-color),
  contrast: (
    50: var(----secondary-color),
    100: var(----secondary-color),
    200: var(----secondary-color),
    300: var(----secondary-color),
    400: var(----secondary-color),
    500: var(----secondary-color),
    600: var(----secondary-color),
    700: var(----secondary-color),
    800: var(----secondary-color),
    900: var(----secondary-color),
  )
);
