@use '@angular/material' as mat;
@import 'colors.scss';
@import 'typography.scss';
// @import 'typography-material.scss';



@include mat.core();

$custom-primary: mat.define-palette($main-color);
$custom-secondary: mat.define-palette($secondary-color);
$custom-theme: mat.define-light-theme($custom-primary,$custom-secondary);

@include mat.all-component-themes($custom-theme);

// @import './components/header.scss';
