h1{
  font: 400 clamp(1rem,3.8vw, 1.9rem) var(--font-heading);
}
h2{
  font:400  clamp(1.6rem,3.8vw,3.8rem) var(--font-heading) !important;
}
h3{
  font:400  clamp(1.75rem,3.8vw,3.8rem) var(--font-heading) !important;
}
h4{
  font:400  clamp(1.2rem,3.8vw,1.5rem) var(--font-heading) !important;
}
p{ font: 400 clamp(1.1rem,3.8vw,1.25rem) var(--font-text);
}

.mat-typography {
  p, h1, h2, h3, h4, a{
    margin: 0;
    padding: 0;
  }
}
