mat-card {
  // width: clamp(15rem, 60vw ,31rem);
  // height: clamp(15rem, 60vw ,31rem);
  // margin-inline: auto;
  border-radius: 0;
  img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    color: var(--white);
    width: 100%;
    padding: 0.5rem;
    font-family: var(--font-heading) !important;
    //   // background-color: rgba(201, 107, 65, .7);
    //   height: 25%;
    .trip-location {
      align-items: flex-start;
      gap: clamp(0.3rem, 3.8vw, 0.5rem);
      .country {
        font: 400 clamp(1.25rem, 3.8vw, 1.5rem) var(--font-heading);
      }
      .city {
        font: 400 clamp(0.87rem, 3.8vw, 1rem) var(--font-heading);
      }
    }
    .trip-dates {
      gap: clamp(0.3rem, 3.8vw, 0.5rem);
      p {
        font: 400 clamp(0.87rem, 3.8vw, 1rem) var(--font-heading);
        hr {
          border-left: 1px solid var(--white);
          // height: 160%;
        }
      }
    }
  }
}

// .card-content{
//   // position: relative;
//   // width: 80%;
//   background-image :url(https://llandscapes-10674.kxcdn.com/wp-content/uploads/2019/07/lighting.jpg);
// }
