.post-gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 850px) {
  .post-gallery {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
