mat-card {
  border-radius: 0;
  img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(201, 107, 65, .7);
    color: var(--white);
    width: 100%;
    padding: clamp(0.5rem, 1vw, 3.5rem);
    font-family: var(--font-heading) !important;
    max-height: 75px;
    .trip-location {
      align-items: flex-start;
      gap: clamp(0rem, 1vw, 0.5rem);
      .country {
        font: 400 clamp(1.1rem, 3.8vw, 1.5rem) var(--font-heading);
      }
      .city {
        font: 400 clamp(0.87rem, 3.8vw, 1rem) var(--font-heading);
      }
    }
    .trip-dates {
      gap: clamp(0rem, 1vw, 0.5rem);
      p {
        font: 400 clamp(0.87rem, 3.8vw, 1rem) var(--font-heading);
        hr {
          border-left: 1px solid var(--white);
          // height: 160%;
        }
      }
    }
  }
}

