@import "./assets/style/custom-theme.scss";
/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --main-color: #C96B41;
  --secondary-color: #EEDFD4;
  --text-color: #000000;
  --white: #FFFFFF;
  --font-heading : 'Lora', serif;
  --font-text:  'Inter', serif;
}
// ------ DISPLAY --------

@mixin display-flex($direction: row) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

.flex {
  @include display-flex();
}
.column {
  @include display-flex(column);
}

body{
  width: min(94.5rem, 100%);
  min-height: 100vh;
  font-style: var(--font-text);
}

.main-footer{
  @include display-flex(column);
  margin-left:20vw;
  width: 80vw;
  justify-content: flex-start;
  background-color: aquamarine;
  padding-inline: clamp(1rem, 3.8vw, 4.5rem);
  padding-top: clamp(2rem, 3.8vw, 5rem);
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover{
  color: #000000;
}
a:active{
  color: #000000;
}
@media (max-width: 600px) {
  .main-footer{
    width: 100%;
    margin-top:15vh;
    margin-left:0;
  }
}
